{
  "thresholds": {
    "lines": 80
  },
  "all": true,
  "check-coverage": true,
  "include": [
    "dist/**"
    , "src/**"
  ],
  "exclude": [
    "test"
    , "jest-test"
    , "**/*.d.ts"
    , "**/*spec.ts"
    , "**/*.module.ts"
    , "coverage"
    , "src/configs"
    , "src/constants"
    , "src/contracts"
    , "src/entrypoints"
    , "src/postgres"
    , ".eslintrc.js"
    , "dist/src/entrypoints"
    , "src/core/chain-of-responsibility"
  ],
  "reporter" : [
    "html",
    "text"
  ],
  "reporter-options": {
    "dir": "nyc-reports"
  }
}
